body {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  font-family: "Tahoma", sans-serif;
  color: white;
}

.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #181818;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  border: 1px solid #222;
}

.card:hover {
  border-color: #0af;
  box-shadow: 0 0 15px #0af7;
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.price {
  margin-top: 5px;
  color: #0af;
}

.product-page {
  padding: 40px;
  text-align: center;
}

.product-big {
  width: 350px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 25px;
  font-size: 18px;
  background: #0af;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background: #0088dd;
}

